name: big-things
run-name: update gpu snapshot (automated)
on:
  issue_comment:
    types: [created]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  do-the-thing:
    # Only run if comment is on a PR with the main repo, and if it contains the magic keywords
    if: >
      contains(github.event.comment.html_url, '/pull/') &&
      contains(github.event.comment.body, '@reznok-bot update gpu snapshot') &&
      github.repository == 'reznok/gha-sandbox'
    runs-on: ubuntu-latest
    steps:
      # indication that the snapshot is being updated
      - name: React on comment
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5
        with:
          comment-id: ${{ github.event.comment.id }}
          reactions: eyes


      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          token: ${{ secrets.bot_token }}
          
      - name: Get the test path from the comment (after "@nf-core-bot update gpu snapshot path:")
        id: get-test-path
        run: |
          echo "test_path=$(echo ${{ github.event.comment.body }} | grep -oP 'path:\s*\K[^ ]+')" >> $GITHUB_OUTPUT

      - name: if test path is empty, exit
        if: steps.get-test-path.outputs.test_path == ''
        run: exit 0

      - name: Run the test
        run: |
          echo "Doin the thing..."
          echo "Test path: ${{ steps.get-test-path.outputs.test_path }}"