name: big-things
run-name: update gpu snapshot (automated)
on:
  issue_comment:
    types: [created]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  do-the-thing:
    # Only run if comment is on a PR with the main repo, and if it contains the magic keywords
    if: >
      contains(github.event.comment.html_url, '/pull/') &&
      contains(github.event.comment.body, '@reznok-bot update gpu snapshot') &&
      github.repository == 'nf-core/modules'
    runs-on: ubuntu-latest
    steps:
      # indication that the snapshot is being updated
      - name: React on comment
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5
        with:
          comment-id: ${{ github.event.comment.id }}
          reactions: eyes

          
      - name: Get the test path from the comment (after "@nf-core-bot update gpu snapshot path:")
        id: get-test-path
        run: |
          echo "test_path=$(echo ${{ github.event.comment.body }} | grep -oP 'path:\s*\K[^ ]+')" >> $GITHUB_OUTPUT