name: Hello World

on:
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: curl -H "Authorization: token $GITHUB_TOKEN" https://api.github.com/repos/owner/repo/actions/secrets